.photo-quiz {
    text-align: center;
}

.photo-quiz-image {
    width: 100%;
    max-width: 500px; /* Adjust the max-width to fit well into the page */
    height: auto;
    object-fit: cover;
    border: 4px solid #000; /* Increase the border size */
    border-radius: 10px;
    margin-bottom: 1rem;
}

.photo-quiz label {
    display: block;
    margin-bottom: 0.5rem;
}

.photo-quiz button {
    padding: 0.5rem 2rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
}

.photo-quiz button:hover {
    background-color: #45a049;
}

.results-button {
    margin-top: 2rem;
    font-size: 1.5rem;
}

.results {
    margin-top: 2rem;
    text-align: center;
    max-width: 600px;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.results h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem; /* Increase the font size of the heading */
}

.results pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 1.2rem; /* Increase the font size of the results text */
}